[user]
	name = anon
	email = users.noreply.github.com
[pull]
	rebase = false
[codespaces-theme]
	hide-status = 1
[devcontainers-theme]
	show-dirty = 0
	hide-status = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
