name: Test RAPIDS build times

concurrency:
  group: test-rapids-build-times-from-${{ github.ref_name }}
  cancel-in-progress: true

on:
  workflow_dispatch:

jobs:
  uncached-builds:
    name: ${{ matrix.name }}
    secrets: inherit
    uses: ./.github/workflows/build-all-rapids-repos.yml
    with:
      env: ${{ matrix.env }}
      matrix: '{ "include": [{ "libs": "" }] }'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'no sccache'
            env: |
              DISABLE_SCCACHE=1
              SCCACHE_NO_CACHE=1
              SCCACHE_NO_DIST_COMPILE=1
          - name: 'recache, local'
            env: |
              SCCACHE_RECACHE=1
              SCCACHE_NO_DIST_COMPILE=1
          - name: 'recache, remote'
            env: |
              SCCACHE_RECACHE=1

  cached-builds:
    name: ${{ matrix.name }}
    needs: [uncached-builds]
    secrets: inherit
    uses: ./.github/workflows/build-all-rapids-repos.yml
    with:
      env: ${{ matrix.env }}
      matrix: '{ "include": [{ "libs": "" }] }'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'preprocessor cache'
            env: |
              SCCACHE_S3_USE_PREPROCESSOR_CACHE_MODE=1
          - name: 'no preprocessor cache'
            env: |
              SCCACHE_S3_USE_PREPROCESSOR_CACHE_MODE=0
