name: Test RAPIDS build times

concurrency:
  group: test-rapids-build-times-from-${{ github.ref_name }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      branch:
        type: string
        required: false
        default: main

jobs:
  uncached-builds:
    name: ${{ matrix.name }}
    secrets: inherit
    uses: ./.github/workflows/build-all-rapids-repos.yml
    with:
      branch: ${{ inputs.branch }}
      env: ${{ matrix.env }}
      matrix: '{ "include": [{ "libs": "" }] }'
      node_type: cpu32
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'no sccache'
            env: |
              PARALLEL_LEVEL=
              DISABLE_SCCACHE=1
              SCCACHE_NO_CACHE=1
              SCCACHE_NO_DIST_COMPILE=1
              MAX_DEVICE_OBJ_TO_COMPILE_IN_PARALLEL=1
          - name: 'recache, local'
            env: |
              SCCACHE_RECACHE=1
              SCCACHE_NO_DIST_COMPILE=1
          - name: 'recache, remote'
            env: |
              SCCACHE_RECACHE=1

  cached-builds:
    name: ${{ matrix.name }}
    needs: [uncached-builds]
    secrets: inherit
    uses: ./.github/workflows/build-all-rapids-repos.yml
    with:
      branch: ${{ inputs.branch }}
      env: ${{ matrix.env }}
      matrix: '{ "include": [{ "libs": "" }] }'
      node_type: cpu32
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'preprocessor cache'
            env: |
              SCCACHE_S3_USE_PREPROCESSOR_CACHE_MODE=1
          - name: 'no preprocessor cache'
            env: |
              SCCACHE_S3_USE_PREPROCESSOR_CACHE_MODE=0
